@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';
@import 'https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&amp;display=swap';

body {
    font-family: karla, sans-serif;
    color: var(--dark);
    font-size: 12px
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05)
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: hsla(0, 0%, 53.3%, .4)
}

.landing-slider.slick-initialized,
.top-doctors.slick-initialized,
.available-doctor.slick-initialized,
.recent-doctors.slick-initialized {
    visibility: visible;
    opacity: 1
}

.landing-slider,
.top-doctors,
.available-doctor,
.recent-doctors {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease
}

.text {
    text-wrap: nowrap
}

.icon-border {
    width: 50px;
    height: 50px
}

.pet-border {
    width: 70px;
    height: 70px
}

.cw-30 {
    width: 30px
}

.w-round {
    width: 50px;
    height: 50px
}

.otp-text {
    text-align: center
}

.fs-head h5 {
    font-size: 17px
}

.fs-littel {
    font-size: 10px
}

.icon {
    color: #000
}

.text-btn {
    color: #000
}

.w-28 {
    width: 20px;
    height: 20px
}

.icon-up {
    transform: rotate(194deg)
}

.icon-down {
    transform: rotate(366deg)
}

.bg-send {
    transform: rotate(314deg)
}

.rounded-send {
    width: 66px;
    height: 66px
}

.link {
    transform: rotate(314deg)
}

.w-352 {
    width: 352px
}

.w-23 {
    width: 23px;
    height: 23px
}

.bg-white-30 {
    background-color: rgb(255 255 255/21%);
    width: 60px;
    height: 60px
}

#radio-btn {
    width: 25px;
    height: 25px
}

.cw-60 {
    width: 40px;
    min-width: 40px;
    max-width: 40px
}

.fav-icon {
    width: 47px;
    height: 47px;
    min-width: 47px;
    max-width: 47px;
    min-height: 47px;
    max-height: 47px
}

.cw-50 {
    width: 50px
}

.display-1 {
    font-size: 175px
}

.video-call {
    background-image: url(../img/call-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.icon-lg {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px
}

.chat-rounded-right {
    border-radius: 19px;
    padding: 10px 15px !important;
    font-size: 13px
}

.chat-rounded-left {
    border-radius: 19px;
    padding: 10px 15px !important;
    font-size: 13px
}

.bg-primary {
    background-color: #1b00ff !important
}





.text-primary {
    color: #1b00ff !important
}

.btn-lg {
    font-size: 17px;
    padding: 16px 22px;
    font-weight: 600
}


.card{
    background-color: rgba(248,249,250, 1) !important;;
}

.btn-primary,
.btn-secondary:hover,
.btn-outline-primary:hover {
    background: #1b00ff !important;
    border-color: #1b00ff !important;
    color: white !important;
}

.btn-primary:focus {
    background: #1502bd;
    border-color: #1502bd
}

.btn-outline-primary {
    background: rgb(101 4 181/12%);
    border-color: rgb(101 4 181/11%);
    color: #1b00ff
}


.btn-secondary,
.btn-secondar,
.btn-primary:hover{
    background-color: white !important;
    color: #1b00ff !important;
    border-color: #1b00ff !important;
}

.main-logo {
    height: 32px
}

.cw-100 {
    width: 100px
}

.w-220 {
    width: 200px
}

.homepage-cate {
    margin-top: -64px
}

.steps-for .progress {
    height: 7px
}

.steps-for h6 {
    font-size: 13px
}

.form-check-input:checked {
    background-color: #1b00ff;
    border-color: #1b00ff
}

.btn-outline-secondary {
    border-color: #dee2e6
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background: #dee2e6;
    color: #000;
    border-color: #d8d8d8
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1b00ff
}

.nav-link,
.nav-link:hover {
    color: #1b00ff
}

.border-primary {
    border-color: #d8d8d8 !important
}

.accordion-button:not(.collapsed) {
    background: #e7dcf2;
    color: #1b00ff
}

:focus {
    box-shadow: none !important
}